<div class="home-background">
    <div class="wellcome"></div>
    <div class="title"></div>
</div>

<div>
    <h1 class="letters">CINEMA</h1>
</div>
<div>
    <h1 class="letters">IRONHACK</h1>
</div>


<form action='/movies' method='GET'>
    <div class='button'>
        <button type='submit'>Check the movies!!</button>
    </div>
</form>